@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
.wrapper {
  
  text-align: center;
  span {
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: #000;
    font-size: 40px;
    text-shadow: 0 0px #f3c623, 0 0px #f2aaaa;
    transform: translate(0, 100%) rotate(4deg);
    animation: jump 2s ease-in-out infinite;
    display: inline-block;
    font-family: "Titan One", cursive;
    color: #fff;

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        animation-delay: 120ms * $i;
      }
    }
  }
}
@keyframes jump {
  33% {
    text-shadow: 0 20px #f37121, 0 50px #f2aaaa;
  }
  50% {
    transform: translate(0, 0) rotate(-4deg);
    text-shadow: 0 0px #8fc0a9, 0 0px #84a9ac;
  }
  66.67% {
    text-shadow: 0 -20px #d54062, 0 -50px #8fc0a9;
  }
}


@media screen and (max-height: 200px) {
  .wrapper {
    transform: scale(0.3,0.3);
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    span {
      font-size: 25px;
    }
  }
}