@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Carter One", "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url('https://wallpaperaccess.com/full/3819332.gif') no-repeat center center fixed; */
  background: linear-gradient(
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 0.01)
    ),
    url("https://wallpaperaccess.com/full/3819332.gif") no-repeat center center
      fixed;
  background-size: cover;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

a {
  text-decoration: none;
  color: #c80c81;
}

/* Main css classes */
.heading {
  padding-right: 20px;
  color: white;
  text-align: left;
  line-height: 41.4px;
  font-weight: 800;
  vertical-align: middle;
  font-size: 2.08vw;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .heading {
    line-height: 41.4px;
    font-weight: 800;
    vertical-align: middle;
    font-size: 6vw;
  }
}
.highlight {
  color: #c80c81;
}

.scroller {
  overflow-x: scroll;
}
.scrollerTabs {
  width: 600;
  overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .scroller {
    overflow-x: scroll;
    white-space: nowrap;
  }
}
.raindboxText {
  background: linear-gradient(73.28deg, #49b1fc 6.51%, #821aeb 88.45%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slide {
  height: 500;
}
.hexagon {
  width: 100px;
  height: 55px;
  position: relative;
}
